%smoothTransition {
  transition: ease-in-out 200ms;
}
%shadowGlobal {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

@mixin flexBox($direction: row, $content: center) {
  flex-direction: $direction;
  display: flex;
  align-items: center;
  justify-content: $content;
}
