:root {
  [color-scheme="dark"] {
    --background-color: #161515;
    --text-color: #f3f3f3;
    --shadow-color: #f3f3f31c;
  }
  [color-scheme="light"] {
    --background-color: #f3f3f3;
    --text-color: #333333;
    --shadow-color: #3333331d;
  }
}

header {
  box-shadow: 0 5px 10px var(--shadow-color);
}

header {
  height: 6ch;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0 2ch;
  width: -webkit-fill-available;
  background-color: var(--background-color);
}
header a {
  text-decoration: none;
  color: inherit;
  font-size: 2ch;
}
header nav {
  position: relative;
  display: grid;
  grid-template-columns: 5ch 1fr auto;
  align-items: center;
  height: 100%;
  letter-spacing: -1px;
  font-weight: 500;
  font-size: 16px;
}
header nav .nav-items ul {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1em;
}
header nav .nav-items ul li {
  cursor: pointer;
  letter-spacing: -0.5px;
  transition: inherit;
}
header nav .nav-items ul li:hover {
  font-size: 18px;
  font-weight: 700;
}
header nav .icon-space {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}
header nav .icon-space span {
  cursor: pointer;
}
header nav .icon-space span:hover {
  color: #252525;
  font-weight: 600;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
img {
  border-radius: 10%;
  animation: gelatine auto ease-in both;
  animation-timeline: view();
  animation-range: entry 25% cover 50%;
}

section,
div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

section {
  height: calc(100vh - 5rem);
  padding: 0 1rem;
}

body {
  scroll-behavior: smooth;
  transition: 400ms ease-in-out;
  color: var(--text-color);
  background-color: var(--background-color);
}

body::-webkit-scrollbar {
  display: none;
}

#light-switch {
  display: inline-block;
  height: 30px;
  width: 50px;
  position: relative;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 400ms;
    border-radius: 34px;
  }

  span::before {
    position: absolute;
    content: "🌗";
    height: 20px;
    width: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 4px;
    border-radius: 20px;
    bottom: 4px;
    background-color: white;
    transition: 400ms;
  }

  input:checked + span {
    background-color: #0c0c0c;
  }
  input:focus + span {
    box-shadow: 0 0 1px #0c0c0c;
  }
  input:checked + span:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
}
