<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MarsBros.club</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="/solid/styles/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body color-scheme="light">
    <section style="flex-direction: column">
      <p style="font-size: 7rem; width: 60%; line-height: 7.5rem">
        Carry Your Fantasy World
      </p>
      <div class="">
        <img
          style="height: 250px"
          src="/solid/images/tshirtblack.jpeg"
          alt=""
        />
        <img
          style="height: 250px"
          src="/solid/images/tshirtblack.jpeg"
          alt=""
        />
        <img
          style="height: 250px"
          src="/solid/images/tshirtblack.jpeg"
          alt=""
        />
      </div>
      <p class="">Presented By</p>
    </section>
    <header>
      <nav>
        <div style="display: block">
          <a href="" style="text-align: start">MarsBros.club</a>
        </div>
        <div class="nav-items">
          <ul>
            <li>Exclusive</li>
            <li>Accesories</li>
            <li>new Arrivels</li>
            <li>Showcase</li>
          </ul>
        </div>
        <div class="">
          <div class="icon-space">
            <span class="fa fa-search"></span>
            <span class="fa fa-basket-shopping"></span>
            <span class="fa fa-user"></span>
          </div>
          <label id="light-switch"
            ><input type="checkbox" />
            <span class="switch-slider"></span>
          </label>
        </div>
      </nav>
    </header>
    <section style="padding: 0 4rem">
      <img style="height: 500px" src="/solid/images/tshirtblack.jpeg" alt="" />
      <div style="flex: 1; flex-direction: column">
        <p style="font-size: 4rem; line-height: 4.3rem">
          Bring Inner Selves to this world
        </p>
        <p class="">#ReelWorld</p>
      </div>
      <img style="height: 500px" src="/solid/images/tshirtblack.jpeg" alt="" />
    </section>
    <section>
      <div class="" style="flex: 1; flex-direction: column">
        <p style="font-size: 3rem; line-height: 3.2rem">
          Some of Our favorite Characters
        </p>
        <p class="">
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled
        </p>
      </div>
      <div
        style="
          flex: 1;
          display: grid;
          grid-template-rows: 260px 260px;
          grid-template-columns: 200px 200px;
          justify-content: center;
          align-items: center;
        "
      >
        <img
          style="height: 260px"
          src="/solid/images/tshirtblack.jpeg"
          alt=""
        />
        <img
          style="height: 260px"
          src="/solid/images/tshirtblack.jpeg"
          alt=""
        />
        <img
          style="height: 260px"
          src="/solid/images/tshirtblack.jpeg"
          alt=""
        />
        <img
          style="height: 260px"
          src="/solid/images/tshirtblack.jpeg"
          alt=""
        />
      </div>
    </section>
    <section style="flex-direction: column; gap: 4rem">
      <p style="font-size: 3rem; line-height: 3.2rem">Seach By Charactors</p>
      <div class="">
        <img
          style="height: 260px"
          src="/solid/images/tshirtblack.jpeg"
          alt=""
        />
        <img
          style="height: 260px"
          src="/solid/images/tshirtblack.jpeg"
          alt=""
        />
        <img
          style="height: 260px"
          src="/solid/images/tshirtblack.jpeg"
          alt=""
        />
        <img
          style="height: 260px"
          src="/solid/images/tshirtblack.jpeg"
          alt=""
        />
        <img
          style="height: 260px"
          src="/solid/images/tshirtblack.jpeg"
          alt=""
        />
      </div>
    </section>
    <section style="flex-direction: column; gap: 4rem">
      <p style="font-size: 3rem; line-height: 3.2rem">Seach By Anime</p>
      <div class="">
        <img
          style="height: 260px"
          src="/solid/images/tshirtblack.jpeg"
          alt=""
        />
        <img
          style="height: 260px"
          src="/solid/images/tshirtblack.jpeg"
          alt=""
        />
        <img
          style="height: 260px"
          src="/solid/images/tshirtblack.jpeg"
          alt=""
        />
        <img
          style="height: 260px"
          src="/solid/images/tshirtblack.jpeg"
          alt=""
        />
        <img
          style="height: 260px"
          src="/solid/images/tshirtblack.jpeg"
          alt=""
        />
      </div>
    </section>
    <section class="marsbros" style="flex-direction: column">
      <p style="font-size: 8rem; line-height: 8.2rem">MarsBros.club</p>
      <p class="">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <button
        style="
          height: 50px;
          padding: 0 20px;
          border: none;
          color: white;
          border-radius: 10%;
          cursor: pointer;
          background-color: black;
        "
      >
        About Us
      </button>
    </section>
    <script src="/solid/scripts/functionality.js"></script>
  </body>
</html>
